h1{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    color: palevioletred;
}

img{
    margin-left: 300px;
    border-radius: 5px;
}
div{
    margin-top: 50%;
    
}